<div class="nav-toolbar">
    <nav class="navbar navbar-expand navbar-light">
        <a href="#">
            <img class = "logo-principal" src="../../assets/Logo.png" alt="logo edook">
        </a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink= "/about"class="nav-link" href="">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link contato" href="">Contato</a>
                </li>
                <li class="nav-item">
                    <a routerLink= "/login" class = "botão-azul" href="">
                        <button class="btn btn-primary">
                            <span class="botão-acessar">Acessar</span></button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div class="fundo-roxo">
    <div class="div-chamada">
        <span class="chamada">Entre em contato!</span>

    </div>

    <div>
    <img class="imagem1" src="../../assets/Imagem_contato.png" alt="notebook">
    </div>

</div>

<div class="div-contato">
    <div class="endereço">
        <span class="texto-header">Endereço</span>

    </div>

    <div class="div-rua"> 
        <span class="texto-menor">QD 3 CJ 3 Casa 20, Parque do Mirante DF, Brasil.</span>
    </div>

    <div class="div-email">
        <span class="texto-header">E-mail</span>
    </div>

    <div class="div2-email">
        <span class="texto-menor">contato@edook.com.br</span>
    </div>

    <div class="div-telefone">
        <span class="texto-header">Telefone</span>
    </div>

    <div class="div2-telefone">
        <span class="texto-menor">(61)99939-9340</span>
    </div>
</div>
