<div class="nav-toolbar">
    <nav class="navbar navbar-expand navbar-light">
        <a href="#">
            <img class="logo-principal" src="../../assets/logo.png" alt="logo edook">
        </a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/about" class="nav-link" href="">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contato" class="nav-link" href="">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="fundo-roxo">
    <div class="fundo-transparente">
        <h3 class="texto-acessar">Verificar Identidade</h3>

        <div>
            <span class="texto-verificar">Insira abaixo o E-mail de cadastro para obter o código de segurança.</span>
        </div>

        <form action="">
            <div class="div-email">
                <input class="input-email" placeholder="E-mail" type="email">
            </div>
        </form>

        <div class="botão-branco mt-3">
            <button type="button" class="btn btn-light">
                <span type="submit" class="textoazul-botão">Enviar</span>
            </button>
        </div>
    </div>
</div>