<div class="fundo-roxo"></div>
<div class="fundo-branco">
	<h1 class="texto-h1">Cadastrar Aluno</h1>
	<div class="input-wrapper">

		<img [src]="profileIcon" alt="ícone de perfil" id="profile-icon" class="profile-icon">

		<div class="container-form mt-4">

			<form class="form" (ngSubmit)="submitForm()">
				<div class="form-grupo">
					<div class="d-flex" style="align-items: end;">
						<label class="form-label">Alterar Foto</label>
						<input type="file" (change)="onPhotoChange($event)" accept="image/*" style="display: none;"
							#photoInput>
						<button class="bnt-photo form-input ms-auto" type="button" (click)="photoInput.click()"
							id="photoInput">

							<div class="div-upload me-2 ms-auto">
								<i class="fas fa-upload"></i>
							</div>
							<span class="texto-upload me-auto">Selecione o(s) arquivo(s)</span>
						</button>
					</div>
				</div>


				<div class="form-grupo">
					<label for="nome" class="form-label">Nome</label>
					<input type="text" name="name" [(ngModel)]="formData.name" class="form-input" id="nome" required>
				</div>

				<div class="form-grupo">
					<label for="genero" class="form-label">Gênero</label>
					<select name="gender" class="dropdown" [(ngModel)]="formData.gender" required>
						<option value="" class="form-select-option"></option>
						<option value="Masculino" class="form-select-option">Masculino</option>
						<option value="Feminino" class="form-select-option">Feminino</option>
						<option value="None" class="form-select-option">Prefiro não informar</option>
					</select>
				</div>

				<div class="form-grupo">
					<label for="matricula" class="form-label">Matrícula</label>
					<input type="number" name="registration" [(ngModel)]="formData.registration" class="form-input"
						id="matricula" required>
				</div>

				<div class="form-grupo">
					<label for="CPF" class="form-label">CPF</label>
					<input type="number" name="cpf" [(ngModel)]="formData.cpf" class="form-input" id="CPF" required>
				</div>

				<div class="form-grupo">
					<label for="email" class="form-label">E-mail</label>
					<input type="email" name="email" [(ngModel)]="formData.email" class="form-input" id="email"
						required>
				</div>

				<div class="form-grupo">
					<label for="nascimento" class="form-label">Nascimento</label>
					<input type="date" name="birthDate" [(ngModel)]="formData.birthDate" class="form-input"
						id="nascimento" required>
				</div>

				<div class="form-grupo">
					<label for="fone" class="form-label">Telefone</label>
					<input type="tel" name="phone" class="form-input" [(ngModel)]="formData.phone" id="phone"
						pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
				</div>

				<div class="form-grupo">
					<label for="CEP" class="form-label">CEP</label>
					<input type="number" maxlength="9" name="zipCode" [(ngModel)]="formData.zipCode" class="form-input"
						id="CEP" required>
				</div>

				<div class="form-grupo">
					<label for="endereco" class="form-label">Endereço</label>
					<input type="text" name="address" [(ngModel)]="formData.address" class="form-input" id="endereco"
						required>
				</div>

				<div class="form-grupo">
					<label for="bairro" class="form-label">Bairro</label>
					<input type="text" name="neighborhood" [(ngModel)]="formData.neighborhood" class="form-input"
						id="bairro" required>
				</div>

				<div class="form-grupo">
					<label for="cidade" class="form-label">Cidade</label>
					<input type="text" name="city" [(ngModel)]="formData.city" class="form-input" id="cidade" required>
				</div>

				<div class="form-grupo">
					<label for="estado" class="form-label">Estado</label>
					<input type="text" name="state" [(ngModel)]="formData.state" class="form-input" id="estado"
						required>
				</div>

				<div class="form-grupo">
					<label for="password" class="form-label">Senha</label>
					<input type="password" name="password" [(ngModel)]="formData.password" class="form-input" id="senha"
						required>
				</div>

				<div class="d-flex mt-5 justify-content-around">
					<button type="" class="bnt-cancelar btn btn-primary">Cancelar</button>
					<button type="submit" class="bnt-salvar btn btn-primary">Salvar</button>
				</div>

			</form>
		</div>


	</div>