<div class="frame-1 screen">
  <div class="overlap-group2">
    <div class="left-content">
      <div class="frame-38 frame">
        <div class="frame-37 frame">
          <div class="minha-timeline inter-semi-bold-charade-24px">
            Minha timeline
          </div>
          <img
            class="arrow-drop-down"
            src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/arrow-drop-down@2x.png"
            alt="arrow-drop-down"
          />
        </div>
      </div>
    </div>
    <div class="button-medium-1 button-medium-6">
      <div class="adicionar-matria">Adicionar matéria</div>
      <img
        class="add"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/add@2x.png"
        alt="add"
      />
    </div>
    <div class="button-medium">
      <img
        class="notifications-none"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/notifications-none@2x.png"
        alt="notifications-none"
      />
    </div>
    <div class="button-medium">
      <img
        class="search"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/search@2x.png"
        alt="search"
      />
    </div>
    <div class="avatar-single"></div>
  </div>
  <div class="overlap-group3">
    <div class="button-medium-2 button-medium-6">
      <div class="new-entry inter-medium-bunker-14px">Adicionar filtro</div>
      <img
        class="filter-list"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/filter-list@2x.png"
        alt="filter-list"
      />
    </div>
    <div class="search-input">
      <div class="try-miami-beachhouse">Ex: Pesquise por “Matemática”</div>
      <img
        class="search-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/search-1@2x.png"
        alt="search"
      />
    </div>
    <div class="button-medium-3 button-medium-6">
      <div class="new-entry inter-medium-bunker-14px">Atualizar</div>
      <img
        class="rotate-right"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/rotate-right@2x.png"
        alt="rotate-right"
      />
    </div>
    <div class="button-medium-4 button-medium-6">
      <div class="new-entry inter-medium-bunker-14px">Customizar</div>
      <img
        class="settings"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/settings@2x.png"
        alt="settings"
      />
    </div>
    <div class="button-medium-5 button-medium-6">
      <img
        class="more-vert"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/more-vert@2x.png"
        alt="more-vert"
      />
    </div>
  </div>
  <div class="line-container">
    <img
      class="line-18"
      src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/line-18.png"
      alt="Line 18"
    /><img
      class="line-27"
      src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/line-18.png"
      alt="Line 27"
    /><img
      class="line-28"
      src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/line-18.png"
      alt="Line 28"
    /><img
      class="line-17"
      src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a75eaaa9452ca1346f220/img/line-16.png"
      alt="Line 17"
    />
  </div>
  <div class="overlap-group">
    <img
      class="line-20"
      src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/line-20@2x.png"
      alt="Line 20"
    /><img
      class="line-21"
      src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/line-20@2x.png"
      alt="Line 21"
    /><img
      class="line-22"
      src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/line-20@2x.png"
      alt="Line 22"
    /><img
      class="line-23"
      src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/line-20@2x.png"
      alt="Line 23"
    /><img
      class="line-24"
      src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/line-20@2x.png"
      alt="Line 24"
    /><img
      class="line-25"
      src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/line-20@2x.png"
      alt="Line 25"
    /><img
      class="line-26"
      src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/line-20@2x.png"
      alt="Line 26"
    />
    <div class="rectangle-7"></div>
    <div class="top-header">
      <img
        class="frame-1-photo-room-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a70410f63c20b6f8c8dd8/img/frame-1-photoroom-1@2x.png"
        alt="Frame 1-PhotoRoom 1"
      />
    </div>
    <div class="nav-links-dark">
      <img
        class="tab"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/tab@2x.png"
        alt="tab"
      />
      <div class="dashboard">Menu número 1</div>
    </div>
    <div class="nav-links-dark-1 nav-links-dark-9">
      <img
        class="business"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/business@2x.png"
        alt="business"
      />
      <div class="available-units inter-medium-star-dust-16px">
        Menu número 2
      </div>
    </div>
    <div class="nav-links-dark-2 nav-links-dark-9">
      <img
        class="verified-user"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/verified-user@2x.png"
        alt="verified-user"
      />
      <div class="invoices inter-medium-star-dust-16px">Menu número 3</div>
    </div>
    <div class="nav-links-dark-3 nav-links-dark-9">
      <img
        class="watch-later"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/watch-later@2x.png"
        alt="watch-later"
      />
      <div class="projects inter-medium-star-dust-16px">Menu número 4</div>
    </div>
    <div class="nav-links-dark-4 nav-links-dark-9">
      <img
        class="share"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/share@2x.png"
        alt="share"
      />
      <div class="social-media inter-medium-star-dust-16px">Menu número 5</div>
    </div>
    <div class="nav-links-dark-5 nav-links-dark-9">
      <img
        class="dashboard-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/dashboard@2x.png"
        alt="dashboard"
      />
      <div class="integrations inter-medium-star-dust-16px">Menu número 6</div>
    </div>
    <div class="nav-links-dark-6 nav-links-dark-9">
      <img
        class="bookmarks"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/bookmarks@2x.png"
        alt="bookmarks"
      />
      <div class="documentation inter-medium-star-dust-16px">Menu número 7</div>
    </div>
    <div class="nav-links-dark-7 nav-links-dark-9">
      <img
        class="settings-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/settings-1@2x.png"
        alt="settings"
      />
      <div class="settings-2 inter-medium-star-dust-16px">Configurações</div>
    </div>
    <div class="nav-links-dark-8 nav-links-dark-9">
      <img
        class="help-outline"
        src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a72ac121cb6d6beca3b9c/img/help-outline@2x.png"
        alt="help-outline"
      />
      <div class="help-center inter-medium-star-dust-16px">Help center</div>
    </div>
  </div>
  <img
    class="line-16"
    src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/648a75eaaa9452ca1346f220/img/line-16.png"
    alt="Line 16"
  />
  <h1 class="title inter-semi-bold-charade-24px">Suas disciplinas</h1>
  <div class="suas-atividades inter-semi-bold-charade-24px">
    Suas atividades
  </div>
  <div class="flex-col">
    <div class="xp-geral inter-semi-bold-charade-24px">Xp Geral</div>
    <img
      class="home-6-3"
      src="https://anima-uploads.s3.amazonaws.com/projects/646f7bcdced61868f14caf2d/releases/646f7e168ca5dc67541e5a5d/img/home--6--3@2x.png"
      alt="Home (6) 3"
    />
  </div>
  <div class="matrias inter-semi-bold-mine-shaft-20px">Matérias</div>
  <div class="navbar">
    <div class="navbar-link-language navbar-link inter-normal-chicago-16px">
      Português
    </div>
    <div class="navbar-link-name navbar-link inter-normal-chicago-16px">
      Bruno
    </div>
    <div class="navbar-link-number navbar-link inter-normal-chicago-16px">
      18
    </div>
    <div class="navbar-link-percent navbar-link inter-normal-chicago-16px">
      20%
    </div>
  </div>
  <div class="navbar-1 navbar-4">
    <div class="navbar-link-matemtica navbar-link inter-normal-chicago-16px">
      Matemática
    </div>
    <div class="navbar-link-vinicius navbar-link inter-normal-chicago-16px">
      Vinicius
    </div>
    <div
      class="navbar-link-number-1 navbar-link-number-4 inter-normal-chicago-16px"
    >
      2
    </div>
    <div class="percent inter-normal-chicago-16px">18%</div>
  </div>
  <div class="navbar-2 navbar-4">
    <div class="navbar-link-geografia navbar-link inter-normal-chicago-16px">
      Geografia
    </div>
    <div class="navbar-link-eduarda navbar-link inter-normal-chicago-16px">
      Eduarda
    </div>
    <div
      class="navbar-link-number-2 navbar-link-number-4 inter-normal-chicago-16px"
    >
      0
    </div>
    <div class="navbar-link-percent-1 inter-normal-chicago-16px">55%</div>
  </div>
  <div class="navbar-3 navbar-4">
    <div class="navbar-link-histria navbar-link inter-normal-chicago-16px">
      História
    </div>
    <div class="navbar-link-luana navbar-link inter-normal-chicago-16px">
      Luana
    </div>
    <div
      class="navbar-link-number-3 navbar-link-number-4 inter-normal-chicago-16px"
    >
      10
    </div>
    <div class="navbar-link-percent navbar-link inter-normal-chicago-16px">
      32%
    </div>
  </div>
  <div class="group-5 group">
    <div class="fsica inter-normal-chicago-16px">Física</div>
    <div class="ruan inter-normal-chicago-16px">Ruan</div>
    <div class="number inter-normal-chicago-16px">2</div>
    <div class="percent-1 inter-normal-chicago-16px">2%</div>
  </div>
  <div class="group-6 group">
    <div class="qumica inter-normal-chicago-16px">Química</div>
    <div class="name inter-normal-chicago-16px">Carolina</div>
    <div class="number-1 number-3 inter-normal-chicago-16px">5</div>
    <div class="percent inter-normal-chicago-16px">18%</div>
  </div>
  <div class="group-7 group">
    <div class="educao inter-normal-chicago-16px">Educação</div>
    <div class="name-1 inter-normal-chicago-16px">Camille</div>
    <div class="number-2 number-3 inter-normal-chicago-16px">8</div>
    <div class="percent-1 inter-normal-chicago-16px">5%</div>
  </div>
  <div class="professor inter-semi-bold-mine-shaft-20px">Professor</div>
  <div class="faltas inter-semi-bold-mine-shaft-20px">Faltas</div>
  <div class="xp inter-semi-bold-mine-shaft-20px">XP</div>
  <div class="group-8 group">
    <div class="ellipse-23"></div>
    <div class="flex-col-1 flex-col-4">
      <div class="matemtica-thiago-porto inter-semi-bold-mine-shaft-20px">
        <span class="inter-semi-bold-mine-shaft-20px">Matemática </span
        ><span class="inter-normal-mine-shaft-20px">| Thiago Porto</span>
      </div>
      <p class="aula-ficha-interativ inter-normal-chicago-16px">
        Aula<br />Ficha interativa avaliativa<br />Sequência ditatica
        transversal
      </p>
    </div>
    <div class="address inter-normal-mine-shaft-16px">
      25 de Set, Segunda-Feira
    </div>
  </div>
  <div class="group-9 group">
    <div class="ellipse-23"></div>
    <div class="flex-col-2 flex-col-4">
      <div class="portugus-bruno-almeida inter-semi-bold-mine-shaft-20px">
        <span class="inter-semi-bold-mine-shaft-20px">Português </span
        ><span class="inter-normal-mine-shaft-20px">| Bruno Almeida</span>
      </div>
      <p class="aula-ficha-interativ inter-normal-chicago-16px">
        Aula<br />Ficha interativa avaliativa<br />Sequência ditatica
        transversal
      </p>
    </div>
    <div class="address-1 address-3 inter-normal-mine-shaft-16px">
      25 de Set, Segunda-Feira
    </div>
  </div>
  <div class="group-10 group">
    <div class="ellipse-23"></div>
    <div class="flex-col-3 flex-col-4">
      <div class="geografia-ruan-cardoso inter-semi-bold-mine-shaft-20px">
        <span class="inter-semi-bold-mine-shaft-20px">Geografia </span
        ><span class="inter-normal-mine-shaft-20px">| Ruan Cardoso</span>
      </div>
      <p class="aula-ficha-interativ inter-normal-chicago-16px">
        Aula<br />Ficha interativa avaliativa<br />Sequência ditatica
        transversal
      </p>
    </div>
    <div class="address-2 address-3 inter-normal-mine-shaft-16px">
      25 de Set, Segunda-Feira
    </div>
  </div>
</div>
