<div class="ladoEdook">
  <img src="../../assets/logo.png" alt="logo" class="logo">
  <label for="labelLogo" class="labelLogo">SISTEMA DE EDUCAÇÃO INTERATIVA</label>
  <div class="listaModulos">
    <button mat-button color="success">Criação</button>
    <button mat-button color="success">Avaliação</button>
    <button mat-button color="success">Formação</button>
  </div>

  <div class="div-listaUsuarios">
    <mat-vertical-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>SOU ALUNO</ng-template>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>SOU PROFESSOR</ng-template>
      </mat-step>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>SOU GESTOR</ng-template>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  
  <div class="example-button-row">
    <button mat-button color="success">Aluno</button>
    <button mat-button color="success">Professor</button>
    <button mat-button color="success">Gestor</button>
    <button mat-button color="success">Contato</button>
  </div>

</div>