<div class="nav-toolbar">
    <nav class="navbar navbar-expand navbar-light">
        <a href="#">
            <img class="logo-principal" src="../../assets/logo.png" alt="logo edook">
        </a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/about" class="nav-link" href="">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contato" class="nav-link" href="">Contato</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/login" class="botão-azul" href="">
                        <button class="btn btn-primary">
                            <i id="profile-icon" class="fas fa-user"></i>
                            <span class="botão-acessar">Acessar</span></button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div class="fundo-roxo">
    <div class="div-chamada">
        <span class="chamada">Conheça a timeline que transforma aprendizado em pura diversão!</span>

        <div class="botão-branco">
            <button type="button" class="btn btn-light">
                <span routerLink="/about" class="textoazul-botão">Saiba mais</span>
            </button>
        </div>

    </div>

    <div>
        <img class="imagem1" src="../../assets/Imagem 1.png" alt="estudantes 1">
    </div>

</div>

<div class="apresentações">

    <div class="aluno">
        <div class="div-texto">
            <span class="texto1">Você é aluno?</span>
            <div class="div-texto-bottom">
                <span class="texto-bottom">Descubra como aprender e se divertir ao mesmo tempo!</span>
            </div>
        </div>

        <div class="imagem-union">
            <div class="imagem">
                <img src="../../assets/Imagem 2.png" alt="estudantes 2">
            </div>

            <div class="union">
                <img class="" src="../../assets/Union.png" alt="">
            </div>

            <div class="union-texto">
                <span>Acompanhe com facilidade as aulas postadas pelo professor!</span>
                <div class="union-texto2">
                    <span>Verifique e analise seu rendimento por um sistema de XP!</span>
                </div>
                <div class="union-texto3">
                    <span>Gamificação! Estude através de um jogo imersivo e desafiador!</span>
                </div>
            </div>
        </div>

    </div>

    <div class="professor">
        <div class="div-texto">
            <span class="texto1">Você é professor?</span>
            <div class="div-texto-bottom">
                <span class="texto-bottom">Finalmente chegou a ferramenta que faltava para você!</span>
            </div>
        </div>

        <div class="imagem-union">
            <div class="imagem">
                <img src="../../assets/Imagem 3.png" alt="professores">
            </div>

            <div class="union">
                <img class="" src="../../assets/Union.png" alt="">
            </div>

            <div class="union-texto">
                <span>Crie planos de aula e objetos educacionais alinhados com a educação 4.0 e focados no protagonismo
                    estudantil!</span>
                <div class="union-texto2">
                    <span>Ganhe tempo com a nossa ferramenta de criaçãp de conteúdo!</span>
                </div>
                <div class="union-texto3">
                    <span>Motive seus alunos implementando o BNCC em sua escola!</span>
                </div>
            </div>
        </div>

    </div>

    <div class="gestor">
        <div class="div-texto">
            <span class="texto1">Você é gestor?</span>
            <div class="div-texto-bottom">
                <span class="texto-bottom">Uma solução educacional disruptiva que implementa a BNCC!</span>
            </div>
        </div>

        <div class="imagem-union">
            <div class="imagem">
                <img src="../../assets/Imagem 4.png" alt="apresentação">
            </div>

            <div class="union">
                <img class="" src="../../assets/Union.png" alt="">
            </div>

            <div class="union-texto">
                <span>Coloque a sua escola em rota de colisão com o sucesso!</span>
                <div class="union-texto2">
                    <span>Alinhe a prática pedagógica com metodologias ativas!</span>
                </div>
                <div class="union-texto3">
                    <span>Implemente a BNCC na sua escola, crie conteúdos educacionais de qualidade e gamifica o
                        aprendizado!</span>
                </div>
            </div>
        </div>

    </div>

    <div class="coordenador">
        <div class="div-texto">
            <span class="texto1">Você é coordenador?</span>
            <div class="div-texto-bottom">
                <span class="texto-bottom">Conheça a nossa ferramenta disrruptiva!</span>
            </div>
        </div>

        <div class="imagem-union">
            <div class="imagem">
                <img src="../../assets/Imagem 5.png" alt="estudantes olhando notebook">
            </div>

            <div class="union">
                <img class="" src="../../assets/Union.png" alt="">
            </div>

            <div class="union-texto">
                <span>Você e sua escola podem agora fazer parte de uma importante mudança, no mundo educacional, criando
                    e compartilhando objetos educacionais significativos!</span>
                <div class="union-texto2">
                    <span>Implemente a BNCC e crie planos de aula gamificados!</span>
                </div>
                <div class="union-texto3">
                    <span>Implemente avaliações de contexto e direitos de aprendizagem do SAEB essenciais para a
                        formação integral dos estudantes!</span>
                </div>
            </div>
        </div>

    </div>

</div>